<!DOCTYPE html>
<html>
<head><title>Add Business</title></head>
<a href="{{ url_for('home') }} ">Back to Home</a>
<h2>Add a New Business</h2>
<body>
    <h1>Add a New Local Business</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Business Name" required>
        <input type="text" name="category" placeholder="Category (e.g. Cafe)" required>
        <button type="submit">Add to Directory</button>
    </form>
    <br>
    <a href="/">Back to List</a>
</body>
</html>